@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans&family=Poppins:wght@200&family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
body{
    height: 300vh;
}

/* "bloco primeiro" */
.bloco-primeiro{
    background-color: #66CDAA;
    color: #545454;
    /* font-family: 'Inter', sans-serif; */
    padding: 3px;
    /* position: fixed; */
    display: flex;
    font-size: 14px;
}

.numero{
    margin-right: auto;
    margin-left: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
}

.bloco-primeiro a{
    position: relative;
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #545454;
    font-size: 20px;
    padding-left: 13px;
}

.texto{
    margin-left: auto;
    margin-right: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 5px;
    
}

/* menu  */
.dropdwn{
    margin: 0 auto;
}

nav{
    height: 60px;
    background: white;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.1); */
}

.logo-sameh{
    padding: 5px 0 0 80px;
    width: 240px;
    height: auto;
    margin-left: 20px;
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 94px;
}

nav ul li{
    background: white;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: #545454;
    text-decoration: none;
    line-height: 60px;
    font-size: 17px;
    transition: background .4s;
}

nav ul li a:hover{
    background: #66CDAA;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    letter-spacing: 150px
}

.seta{
    height: 10px;
}



/* conteudo principal */
.conteudo-principal{
    display: block;
    text-align: center;
}

